
/* Phần Bảng dữ liệu */
.grid {
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    max-height: calc(100% - 181px);
    border-bottom: 5px solid #bbbbbb;
}

    table {
        border-collapse: collapse;
        width: 100%;
    }

        table th, td {
            border-bottom: 1px solid #bbbbbb;
            padding: 0 16px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 50px;
            height: 48px;
        }

        table th {
            background-color: #fff;
            position: sticky;
            top: 0px;
            font-weight: bold;
        }

        table tr:nth-child(odd) {
            background-color: #E4E4E4;
        }

        table tr:hover {
            background-color: #bbbbbb;
        }

        .salary {
            text-align: right;
        }

/* ScrollBar của bảng dữ liệu */
::-webkit-scrollbar {
    width: 7px;
    background-color: lightgray;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 3px;
}
