/* Phần Header  */
.header {
    display: flex;
    width: calc(100% - 221px);
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
    align-items: center;
}

    /* Phần Tên */
    .header .header-left {
        display: flex;
        align-items: center;
    }
        .header .header-left .header-icon {
            display: flex;
            align-items: center;
            padding: 10px 10px;
            background: #e5e5e5;
            color: #0075ff;
            border-radius: 8px;
            margin-left: 24px;
        }

    /* Phần Account */
    .header .header-right {
        display: flex;
        padding: 0 16px;
        align-items: center;
        
    }

        .header .header-right .avatar {
            width: 30px;
            height: 20px;
            margin: 0 16px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../content/icon/avatar-default.png');
        }