.content{
    /* float: left; */
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    background-color: #e9ebee;
}

/* Page title */
.content .header-content{
    padding: 24px;
    display: flex;
    align-items: center;
    background-color: #fff;
    
}
    .content .header-content .title{
        font-size: 20px;
        font-weight: bold;
    }

    .content .header-content .content-feature{
        position: absolute;
        right: 16px;
    }

/* Filter bar */
.content .filter-bar{
    
}

/* Paging bar */
.content .paging-bar{
    
}
/* Grid */
.content .grid{
    
}



.icon-add{
    display: flex;
    width: 16px;
    height: 16px;
    background-image: url('../../content/icon/add.png');
}