.header{
    display: flex;
    width: calc(100% - 222px);
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
}
    .header .header-left{
        display: flex;
        width: 300px;
        height: 60px;
        align-items: center;
    }
        .header .header-left .header-name{
            border: none;
            font-weight: bold;
            font-size: medium;
            font-family: GoogleSans-Regular;
            margin-left: 16px;
            padding-right: 10px;
        }
    .header .header-right{
        display: flex;
        padding-right: 16px;
        align-items: center;
    }
        .header .header-right .avatar{
            width: 30px;
            height: 28px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../content/icon/avatar-default.png');
        }
        .header .header-right .user-name{
            margin: 0px 10px;
        }


.arrow-down{
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}