.icon-option-default-16{
    width: 16px;
    height: 16px;
    margin: 0 16px;
    background-position: center;
    background-image: url('../../content/icon/option.png');
    background-repeat: no-repeat;
}

.icon-add{
    width: 16px;
    height: 16px;
    background-image: url('../../content/icon/add.png');
}

.icon-search{
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
}