.input-icon{
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 12px;
    color: #bbb;
    padding: 0 0 0 40px;
    border:1px solid #bbb;
}

input::placeholder{
    font-size: 12px;
}
