/* Icon Button */
.m-btn-icon{
    text-align: left;
    padding: 0 16px;
}

/* Dịch phải 8px đối với text trong button icon */
    .m-btn-icon .btn-text {
        margin-left: 8px;
    }

/* Second button */
.m-second-button {
    background-color:unset;
    color: #000000;
}

    .m-second-button:hover {
        background-color: #bbb;
    }

/* Button Refresh */
.m-btn-refresh {
    margin-left: auto;
    justify-content: center;
    width: 40px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
}

/* Button Close Popup */
.m-btn-close{
    width: 40px;
    background-image: url('../../../content/icon/x.svg');
    border-radius: 0 4px 0 0;
    background-color: #FFF;
    background-size: 20px;
    opacity: .7;
}

/* Button Cancel */
.m-btn-cancel {
    margin: 10px 0;
    width: 100px;
    justify-content: center;
}

/* Button Save */
.m-btn-save {
    margin: 10px 24px 10px 16px;
}