/* Custom dropdown for header */
.header-dropdown .branch-name {
    border: none;
    margin: 0;
    padding-left: 4px;
}

    .header-dropdown .branch-name .text {
        font-weight: bold;
        font-size: medium;
        font-family: GoogleSans-Regular;
        padding-right: 10px;
    }

    .header-dropdown .branch-name .icon {
        padding: 0;
    }

/* Custom dropdown button for popup screen */
.base-dropdown .custom-dropbtn {
    margin-top: 4px;
    width: 100%;
}

    .base-dropdown .custom-dropbtn .icon {
        margin-left: auto;
    }