/* Base Field Input */
.field-input-base {
    border-radius: 4px;
    border: 1px solid #bbb;
    font-family: GoogleSans-Regular;
    height: 40px;
    color: #bbb;
}

    .field-input-base::placeholder {
        font-size: 12px;
    }

    .field-input-base:focus {
        font-size: 13px;
        color: #000;
        outline: none;
        border: 1px solid #019160;

    }

    .field-input-base:focus::placeholder {
        color: transparent;
    }


/* Field Input có icon đứng trước text */
.field-input-icon {
    padding: 0 0 0 40px;
}

/* Field Input có label bên trên input */
.field-input-label {
    margin-top: 4px;
    padding: 0 0 0 16px;
}

    .field-input-label::placeholder {
        font-size: 11px;
    }


/* Field Input khi nhập sai */
.error-input {
    border: 1px solid #FF4747;
}

/* Đánh dấu đỏ những trường bắt buộc */
.required-input {
    color: red;
}