.filter-bar {
    /* width: 100%; */
    display: flex;
    align-items: center;
    background-color: #fff;
}

.filter-bar {
    display: flex;
    width: 100%;
}

.filter-bar .filter-department {
    margin: 0 10px;
}

.filter-bar .filter-position {
    margin: 0 10px;
}

.filter-bar .filter-department .dropbtn {
    margin: 0;
}

.filter-bar .filter-department .dropbtn .text {
    width: 150px;
    text-align: left;
}

.filter-bar .filter-position .dropbtn {
    margin: 0;
}

.filter-bar .filter-position .dropbtn .text {
    width: 100px;
    text-align: left;
}

.filter-bar input {
    width: 300px;
}