/* Content Toolbar */
.content-filter-bar{
    display: flex;
    width: 100%;
}

    /* Tìm theo Thuộc tính của nhân viên */
    .content-filter-bar input.base-field-input{
        min-width: 300px;
    }

    /* Lọc theo Phòng ban */
    .content-filter-bar .filter-department {
        margin: 0 10px;
    }

    /* Lọc theo Vị trí */
    .content-filter-bar .filter-position {
        margin: 0 10px;
    }