.header{
    display: flex;
    width: calc(100% - 222px);
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
}
    .header .header-left{
        display: flex;
        width: 20%;
        height: 60px;
        align-items: center;
    }
        .header .header-left .header-name{
            border: none;
            font-weight: bold;
            font-size: medium;
            font-family: GoogleSans-Regular;
            margin-left: 24px;
            padding-right: 10px;
        }
    .header .header-right{
        display: flex;
        padding: 0 16px;
        align-items: center;
    }
        .header .header-right .avatar{
            width: 30px;
            height: 28px;
            margin: 0 16px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../content/icon/avatar-default.png');
        }