/* Combobox */
.combobox{
    position: relative;
    align-items: center;
    margin: 0 10px;
}
    /* Input part */
    .combobox .combobox__input{
        height: 40px;
        border: 1px solid var(--color-gray);
        border-radius: 4px;
        width: 200px;
        outline: none;
        font-family: GoogleSans-Regular;
        padding: 0 0 0 16px;
    }

        .combobox .combobox__input::placeholder{
            font-size: 11px;
            color: var(--color-gray);
        }
        /* Những sự kiện khi input được focus */
        .combobox .combobox__input:focus{
            color: var(--color-black);
            outline: none;
            border: 1px solid var(--color-primary);
        }

            .combobox .combobox__input:focus+.combobox__button>.icon{
                transform: rotate(180deg);
            }

            .combobox .combobox__input:focus+.combobox__btn{
                background-color: var(--color-secondary);
            }

            .combobox .combobox__input:focus::placeholder{
                color: transparent;
            }

    /* Button Part */
    .combobox .combobox__button{
        position: absolute;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray);
        border-radius: 0 4px 4px 0;
        right: 0;
        width: 40px;
        height: 40px;
    }

        .combobox .combobox__button:hover{
            background-color: var(--color-secondary-hover);
            outline: none;
        }
        .combobox .combobox__button:focus{
            background-color: var(--color-secondary);
            outline: none;
        }


        .combobox .combobox__button i {
            transition: 0.2s all ease-in-out;
        }

    /* Data Part */
    .combobox .combobox__data{
        position: absolute;
        width: 100%;
        background: var(--color-white);
        padding: 4px 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        z-index: 999;
    }

        .combobox .combobox__data .combobox__item {
            display: flex;
            
        padding: 4px 0 4px 33px;
            align-items: center;
            height: 40px;
        }

        .combobox .combobox__data .combobox__item .icon {
            position: absolute;
			left: 10px;
			display: none;
			color: var(--color-white);
        }

        .combobox .combobox__data .combobox__item:hover {
            background: var(--color-secondary-hover);
            cursor: pointer;
        }

        .combobox .combobox__data .combobox__item:hover {
			background-color: var(--color-secondary-hover);
			color: var(--color-content-text);
		}