.input-group {
  height: 40px;
  font-size: 12px;
  color: var(--color-gray);
  font-style: italic;
  display: flex;
  align-items: center;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.label .required>i {
  color: var(--color-required);
  font-style: normal;
}

.input-group .input {
  position: absolute;
  font-family: 'GoogleSans-Regular';
  height: 100%;
  width: 100%;
  padding: 0 16px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--color-gray);
}

.input-group .input::placeholder {
  font-size: 12px;
  color: var(--color-gray);
}

.input-group .input:focus::placeholder {
  color: transparent;
}

.input-group .input:focus {
  border-color: var(--color-primary);
}

.input-group .icon-left {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 16px;
  height: 16px;
  padding-left: 16px;
  padding-right: 8px;
}

.input-group .icon-right {
  position: absolute;
  right: 20px;
  z-index: 2;
  width: 16px;
  height: 16px;
  padding-left: 8px;
  padding-right: 16px;
}


/* Đánh dấu đỏ những trường bắt buộc */
.required-input {
  color: var(--color-required);
}