.info-column .float--alert {
	color: var(--color-white);
    text-align: center;
    position: relative;
    left: 50%;
    top: -122%;
    transform: translate(-50%, 0);
    max-width: 50%;
    background-color: var(--color-required);
    padding: 12px 16px;
    border-radius: 10px;
    z-index: 6;
    transition: 0.2s all ease-in-out;
}

.info-column .float--alert::before {
	content: '';
	position: absolute;
	bottom: 20%;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--color-required);
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.input--alert {
    border: 1px solid var(--color-required) !important;
}