	/* Paginate */
	.content__footer .pagination {
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
		/* Button paginate */
		.content__footer .pagination .pagination__button {
			border-radius: 4px;
			padding: 5px;
		}
		.content__footer .pagination .pagination__button:hover{
			background-color: var(--color-white);
			cursor: pointer;
		}

		.content__footer .pagination .pagination__number {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: var(--color-secondary-hover);
			border: 1px solid var(--color-gray);
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			cursor: pointer;
			transition: 0.2s all ease-in-out;
		}

		.content__footer .pagination .pagination__number:hover {
			background-color: var(--color-white);
			border: transparent;
		}

		.active {
			background-color: var(--color-primary) !important;
			color: var(--color-white) !important;
		}

		@media screen and (max-width: 1280px) {
			.content__footer .pagination {
				width: 40% !important;
			}
		}
		@media screen and (max-width: 1530px) {
			.content__footer .pagination {
				width: 25%;
			}
		}