.popup__container {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 10;
}

	.popup {
		width: 25%;
		background-color: var(--color-white);
		padding: 24px;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 10px 24px -8px rgba(0, 0, 0, 0.5);
	}

		.popup .popup__btn-close{
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			transition: 0.2s all ease-in-out;
		}

			.popup .popup__btn-close:hover {
				background-color: var(--color-secondary-hover);
			}

		.popup .popup__title {
			color: var(--color-black);
			font-size: 15px;
			font-family: GoogleSans-Bold;
			padding: 0 24px 0 0;
		}

		.popup .popup__body {
			margin: 24px 0;
			display: flex;
			gap: 10px;
			align-items: center;
		}

			.popup .popup__body .popup__icon {
				background-color: var(--color-secondary);
				border-radius: 50%;
				padding: 8px;
				color: var(--color-alert);
			}

		.popup .popup__footer {
			padding: 10px 24px;
			position: relative;
			margin: -24px;
			margin-top: 24px;
			background-color: var(--color-secondary);
			display: flex;
			gap: 16px;
			align-items: center;
			justify-content: flex-end;
		}

	.popup__footer .button--secondary {
		border: none;
	}

	.popup__footer .button--secondary:hover {
		background-color: var(--color-gray);
	}

	.popup__footer .button--secondary:active {
		background-color: transparent;
	}

	.popup__footer .button--primary {
		background-color: var(--color-alert);
	}

@media screen and (max-width: 1080px) {
	.popup {
		width: 45%;
	}
}