/* Data Table */
.content__table-container {
    width: 100%;
    margin-top: 16px;
    overflow: auto;
    background-color: var(--color-white);
}
    
    .content__table {
        width: 100%;
        min-width: 1366px;
        text-align: left;
        font-weight: normal;
        position: relative;
        border-collapse: separate;
        border-spacing: 0;
    }

    .content__table tr {
        height: 48px;
        background-color: var(--color-white);
    }

    .content__table tr[check=true]{
        background-color: var(--color-primary-focus);
    }

    .content__table tr[check=true]:hover{
        background-color:  var(--color-primary-focus) !important;
    }

    /* Table Header */
    .content__table .table__header th {
        position: sticky;
        padding: 0 0 0 10px;
        top: 0;
        left: 0;
        background-color: var(--color-white);
        z-index: 6;
        border-bottom: 1px solid var(--color-secondary-hover);
    }
    /* Table Body */
    .content__table .table__body tr {
        cursor: pointer;
    }
    
    .content__table .table__body tr:last-child{
        border-bottom: 1px solid var(--color-white);
    }

    .content__table .table__body tr:hover {
        background-color: var(--color-secondary-hover);
    }

    /* Check Box */
    .content__table .delete-box {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        overflow: hidden;
        border: 0.1px solid var(--color-gray);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }

        .content__table .delete-box input {
            position: absolute;
            opacity: 0;
            width: 20px;
            height: 20px;
            margin: 0;
            top: 0;
            left: 0;
            z-index: 3;
            cursor: pointer;
        }

        .content__table .delete-box .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: var(--color-white);
        }

        .content__table .delete-box:hover input ~ .checkmark {
            background-color: var(--color-gray);
        }

        .content__table .delete-box input:checked ~ .checkmark {
            background-color: var(--color-primary);
        }

        .content__table .delete-box .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        }

        .content__table .delete-box input:checked ~ .checkmark:after {
        display: block;
        }

        .content__table .delete-box .checkmark:after {
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid var(--color-white);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }


    /* Căn chỉnh table size */
    .content__table td {
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
        white-space: nowrap;
        padding: 0 0 0 10px;
        color: var(--color-content-text);
        border-bottom: 1px solid var(--color-secondary-hover);
    }

    .content__table td:nth-child(8) {
        min-width: 100px;
        max-width: 150px;
    }

    .content__table td:first-child,
    .content__table th:first-child {
        padding: 0 0 0 16px;
        width: 36px;
    }



    .content__table td:nth-child(11),
    .content__table th:nth-child(11) {
        text-align: right;
        padding-right: 16px;
    }
