.content{
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 237px);
    height: calc(100vh - 61px);
    background-color: #ffffff;
    padding-left: 16px;
}

/* Page title */
.content .header-content{
    padding: 16px 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    
}
    .content .header-content .title{
        font-size: 20px;
        font-weight: bold;
    }

    .content .header-content .content-feature{
        position: absolute;
        right: 16px;
    }

/* Paging bar */
.content .paging-bar {
    width: 100%;
    height: 56px;
    float: left;
    position: relative;
}


    .content .paging-bar .paging-left {
        height: 100%;
        width: 300px;
        position: absolute;
        left: 0;
    }

        .content .paging-bar .paging-left > p {
            line-height: 56px;
        }

    .content .paging-bar .paging-center {
        width: 400px;
        height: 100%;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content .paging-bar .paging-right {
        height: 100%;
        width: 300px;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content .paging-bar .paging-right > p {
        line-height: 56px;
    }